.navbar {
    background-color: #F99417;
    font-family: Sitka Display;
}

.navbar-text {
    font-family: sitka display;
}

.jumbotron {
    background-color: #5d3891;
    height: 250px;
    padding: 80px 0;
    font-family: Antic;
}

.background_1 {
    background-color: #E8E2E2;
}

.h3 {
    font-family: Antic;
}

.background_2 {
    background-color: #f5f5f5;
}

.footer {
    background-color: #F99417;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    color: white;
    line-height: .3;
}